<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>virtusa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>csignup.html</welcome-file>
    <welcome-file>clogin.html</welcome-file>
    <welcome-file>signupsucss.html</welcome-file>
  </welcome-file-list>
<servlet>
<servlet-name>signupservlet</servlet-name>
<servlet-class>csignupservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>signupservlet</servlet-name>
<url-pattern>/csignupservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loginservlet</servlet-name>
<servlet-class>loginservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginservlet</servlet-name>
<url-pattern>/loginservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>passeervlet</servlet-name>
<servlet-class>passeservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>passeservlet</servlet-name>
<url-pattern>/passeservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mobeservlet</servlet-name>
<servlet-class>mobeservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mobeservlet</servlet-name>
<url-pattern>/mobeservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>costservlet</servlet-name>
<servlet-class>costservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>costservlet</servlet-name>
<url-pattern>/costservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>floor1servlet</servlet-name>
<servlet-class>floor1servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>floor1servlet</servlet-name>
<url-pattern>/floor1servlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>floor2servlet</servlet-name>
<servlet-class>floor2servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>floor2servlet</servlet-name>
<url-pattern>/floor2servlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>floor3servlet</servlet-name>
<servlet-class>floor3servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>floor3servlet</servlet-name>
<url-pattern>/floor3servlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>floor4servlet</servlet-name>
<servlet-class>floor4servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>floor4servlet</servlet-name>
<url-pattern>/floor4servlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>floor5servlet</servlet-name>
<servlet-class>floor5servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>floor5servlet</servlet-name>
<url-pattern>/floor5servlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>floor6servlet</servlet-name>
<servlet-class>floor6servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>floor6servlet</servlet-name>
<url-pattern>/floor6servlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>complaintservlet</servlet-name>
<servlet-class>complaintservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>complaintservlet</servlet-name>
<url-pattern>/complaintservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>srpasseservlet</servlet-name>
<servlet-class>srpasseservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>srpasseservlet</servlet-name>
<url-pattern>/srpasseservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>asrservlet</servlet-name>
<servlet-class>asrservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>asrservlet</servlet-name>
<url-pattern>/asrservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>astservlet</servlet-name>
<servlet-class>astservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>astservlet</servlet-name>
<url-pattern>/astservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>contactservlet</servlet-name>
<servlet-class>contactservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>contactservlet</servlet-name>
<url-pattern>/contactservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>mdservlet</servlet-name>
<servlet-class>mdservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mdservlet</servlet-name>
<url-pattern>/mdservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>mdstservlet</servlet-name>
<servlet-class>mdstservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mdstservlet</servlet-name>
<url-pattern>/mdstservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>dservlet</servlet-name>
<servlet-class>dservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dservlet</servlet-name>
<url-pattern>/dservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>dstservlet</servlet-name>
<servlet-class>dstservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dstservlet</servlet-name>
<url-pattern>/dstservlet</url-pattern>
</servlet-mapping>
</web-app>
</element>